# SERIES
---

A **Series** is a 1-dimensional data structure. Each data point has an associated label. The collection of these labels is called an index.

## Creating Series from List

To create a Series, first import the Pandas library into your notebook.

In [2]:
import pandas as pd

Now, you can use the Pandas. To create a Series, you need a collection of data. Here is a list of the company's employees.

In [3]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank']

Creating a Series is super easy. To create a Series named **ds**, just use a name of a data collection.

In [4]:
ds = pd.Series(data=employees)

To display the contents of a Series, simply use its name.

In [5]:
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can also display the contents of a Series using the print function.

In [6]:
print(ds)

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
dtype: object

You can modify the collection of data and run the code cells again to create and display the Series.

### Tasks

Try to add an additional two employees to the list created earlier. Then, create and display Series once again.

In [7]:
employees = ['Georgia','Edward','William','Jack','Juliet','Daisy','Frank', 'Max', 'Emanuel']
ds = pd.Series(data=employees)
ds

0    Georgia
1     Edward
2    William
3       Jack
4     Juliet
5      Daisy
6      Frank
7        Max
8    Emanuel
dtype: object

Create your first Series called **components** containing the names of the five components of your computer. Then, display the contents of the Series. To complete the task, add a cell(s) with Python code below.

In [8]:
components = ['Monitor', 'CPU', 'RAM', 'Mouse', 'Keyboard']
ds = pd.Series(data = components)
ds

0     Monitor
1         CPU
2         RAM
3       Mouse
4    Keyboard
dtype: object

## Creating Series from Dictionary

To create a Series, as a collection of data you can also use a dictionary, which consists of key and value pairs of information.

In [9]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9}
tools = pd.Series(data=tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
dtype: int64

### Tasks

Modify the data collection by adding two additional tools. Then, create and display Series once again.

In [10]:
tools_in_stock = {'hammer':15, 'drill':4, 'screwdriver':23, 'saw':7, 'knife':9, 'wrench': 6, 'tape': 7}
tools = pd.Series(data=tools_in_stock)
tools

hammer         15
drill           4
screwdriver    23
saw             7
knife           9
wrench          6
tape            7
dtype: int64

## Data Statistics

Pandas includes a number of functions to calculate various statistics. You can, for example, calculate the sum of tools in stock using sum(), or their arithmetic mean using mean().

In [11]:
tools.sum()

71

You can also generate descriptive statistics (tools.describe()) that quantitatively describes or summarizes features from a collection of information.

In [12]:
tools.describe()

count     7.000000
mean     10.142857
std       6.644009
min       4.000000
25%       6.500000
50%       7.000000
75%      12.000000
max      23.000000
dtype: float64

### Tasks

Calculate the average number of tools in stock.

In [13]:
tools.mean()

10.142857142857142

Generate descriptive statistics for the tools in stock.

## Data Limitation

You can specify a single value in Series.

In [14]:
tools['drill']

4

You can also specify a subset of values [from:to].

In [15]:
tools['drill':'saw']

drill           4
screwdriver    23
saw             7
dtype: int64

For the selected values you can then calculate various statistics.

In [16]:
tools['drill':'saw'].sum()

34

## Creating Your First Series from Dictionary

### Tasks

Create a Series called **restaurant** containing the number of restaurant customers on each of the seven days of the week.

In [ ]:
restaurant = {'Monday': 60, 'Tuesday': 50, 'Wednesday': 48, 'Thursday': 56, 'Friday': 95, 'Saturday': 101, 'Sunday': 121}
ds = pd.Series(data=restaurant)

With the created data series, follow the instructions below.

Display the contents of the Series.

In [18]:
ds

Monday        60
Tuesday       50
Wednesday     48
Thursday      56
Friday        95
Saturday     101
Sunday       121
dtype: int64

Display the total number of restaurant customers.

In [19]:
ds.sum()

531

Display the median number of restaurant customers.

In [20]:
ds.mean()

75.85714285714286

Display descriptive statistics.

In [21]:
ds.describe()

count      7.000000
mean      75.857143
std       29.231425
min       48.000000
25%       53.000000
50%       60.000000
75%       98.000000
max      121.000000
dtype: float64

Display the list of restaurant customers on business days.

In [23]:
ds['Monday':'Friday']

Monday       60
Tuesday      50
Wednesday    48
Thursday     56
Friday       95
dtype: int64

Display the average number of customers visiting the restaurant during working days.

In [24]:
ds['Monday':'Friday'].mean()

61.8

Display the list of restaurant customers on the weekend.

In [25]:
ds['Friday':'Sunday']

Friday       95
Saturday    101
Sunday      121
dtype: int64

Display the total number of customers visiting the restaurant over the weekend.

In [26]:
ds['Friday':'Sunday'].sum()

317